.search-container {
  padding: 10;
  width: 80%;
  .search {
    padding: 10px 5px;
    width: 100%;
  }
  .search-icon-container {
    background-color: white;
  }
  // not inside search-icon-container to leave the option to not use it
  .search-icon {
    width: 20px;
    height: 20px;
    justify-self: center;
  }
}
