.breadcrumb-container {
  padding: 20px 0;
  color: #6f6f6f;

  .breadcrumb {
    .item {
      font-weight: 400;
      margin-right: 10px;
      margin-left: 10px;
    }

    .last-item {
      font-weight: 700;
    }

    .item:nth-child(1) {
      margin-left: 0;
    }
  }
}
